{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li>
            <i class="ace-icon fa fa-list-ul home-icon"></i>
            <a href="{{path('agencia_index')}}">Agencia</a>
        </li>
        <li class="active">Datos</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    
    <div class="page-header">
        <h1>
            Agencia
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Datos generales
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('agencia_index') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-hand-o-left bigger-110 blue"></i></a>
                <a href="{{ path('agencia_edit', { 'id': agencium.id }) }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-pencil bigger-130 green"></i></a>
                {{ form_start(delete_form) }}
                    <button type="submit" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-trash-o bigger-110 red"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>

    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ agencium.id }}</td>
                    </tr>
                    <tr>
                        <th>Agenciatipo</th>
                        <td>{{ agencium.agenciaTipo }}</td>
                    </tr>
                    <tr>
                        <th>Agencia</th>
                        <td>{{ agencium.agencia }}</td>
                    </tr>
                    <tr>
                        <th>Direccion</th>
                        <td>{{ agencium.direccion }}</td>
                    </tr>
                    <tr>
                        <th>Telefono</th>
                        <td>{{ agencium.telefono }}</td>
                    </tr>
                    <tr>
                        <th>Celular</th>
                        <td>{{ agencium.celular }}</td>
                    </tr>
                    <tr>
                        <th>Fechaapertura</th>
                        <td>{% if agencium.fechaApertura %}{{ agencium.fechaApertura|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Fechacierre</th>
                        <td>{% if agencium.fechaCierre %}{{ agencium.fechaCierre|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Obs</th>
                        <td>{{ agencium.obs }}</td>
                    </tr>
                    <tr>
                        <th>Anchobanda</th>
                        <td>{{ agencium.anchobanda }}</td>
                    </tr>
                    <tr>
                        <th>Esactivo</th>
                        <td>{% if agencium.esactivo %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
