{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('dashboard')}}">Dashboard</a>
        </li>
        <li class="active">Transacci贸n</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Transacci贸n
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Gesti贸n de Transacciones
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('transacciontipo_new') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-file bigger-110 blue"></i></a>
            </div>
        </div>
    </div>
    <div class="table-header">
        Lista de Transacciones
    </div>
    <div class="table-responsive">

        <table class="table table-stripped dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Transacci贸n</th>
                    <th>Habilitado</th>
                    <th>Obs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for transaccionTipo in transaccionTipos %}
                <tr>
                    <td><a href="{{ path('transacciontipo_show', { 'id': transaccionTipo.id }) }}">{{ transaccionTipo.id }}</a></td>
                    <td>{{ transaccionTipo.transaccionTipo }}</td>
                    <td>{% if transaccionTipo.esactivo %}Si{% else %}No{% endif %}</td>
                    <td>{{ transaccionTipo.obs }}</td>
                    <td>
                        <div class="action-buttons">
                            <a class="blue" href="{{ path('transacciontipo_show', { 'id': transaccionTipo.id }) }}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>

                            <a class="green" href="{{ path('transacciontipo_edit', { 'id': transaccionTipo.id }) }}">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

