{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('dashboard')}}">Dashboard</a>
        </li>
        <li class="active">Servicio</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Servicio
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Gestión de Servicios
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('servicio_new') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-file bigger-110 blue"></i></a>
            </div>
        </div>
    </div>
    <div class="table-header">
        Lista de servicios registrados
    </div>
    <div class="table-responsive">

        <table class="table table-stripped dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Serviciotipo</th>
                    <th>Servicio</th>
                    <th>Esactivo</th>
                    <th>Esticket</th>
                    <th>Rutasonido</th>
                    <th>Obs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for servicio in servicios %}
                <tr>
                    <td><a href="{{ path('servicio_show', { 'id': servicio.id }) }}">{{ servicio.id }}</a></td>
                    <td>{{ servicio.servicioTipo }}</td>
                    <td>{{ servicio.servicio }}</td>
                    <td>{% if servicio.esactivo %}Yes{% else %}No{% endif %}</td>
                    <td>{% if servicio.esticket %}Yes{% else %}No{% endif %}</td>
                    <td>{{ servicio.rutasonido }}</td>
                    <td>{{ servicio.obs }}</td>
                    <td>
                        <div class="action-buttons">
                            <a class="blue" href="{{ path('servicio_show', { 'id': servicio.id }) }}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>

                            <a class="green" href="{{ path('servicio_edit', { 'id': servicio.id }) }}">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
