{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li class="active">Anuncio</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Anuncio
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Gestión de Anuncios
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('anuncio_new') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-file bigger-110 blue"></i></a>
            </div>
        </div>
    </div>
    <div class="table-header">
        Lista de anuncios
    </div>

    <div class="table-responsive">
        <table class="table table-striped dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Agencia</th>
                    <th>Anuncio</th>
                    <th>Obs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for anuncio in anuncios %}
                <tr>
                    <td><a href="{{ path('anuncio_show', { 'id': anuncio.id }) }}">{{ anuncio.id }}</a></td>
                    <td>{{ anuncio.agencia.agencia }}</td>
                    <td>{{ anuncio.anuncio }}</td>
                    <td>{{ anuncio.obs }}</td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="{{ path('anuncio_show', { 'id': anuncio.id }) }}">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>

                            <a class="green" href="{{ path('anuncio_edit', { 'id': anuncio.id }) }}">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
