{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li>
            <i class="ace-icon fa fa-list-ul home-icon"></i>
            <a href="{{path('anuncio_index')}}">Anuncio</a>
        </li>
        <li class="active">Datos</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Anuncio
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Datos generales
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('anuncio_index') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-hand-o-left bigger-110 blue"></i></a>
                <a href="{{ path('anuncio_edit', { 'id': anuncio.id }) }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-pencil bigger-130 green"></i></a>
                {{ form_start(delete_form) }}
                    <button type="submit" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-trash-o bigger-110 red"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ anuncio.id }}</td>
                    </tr>
                    <tr>
                        <th>Agencia</th>
                        <td>{{ anuncio.agencia.agencia }}</td>
                    </tr>
                    <tr>
                        <th>Anuncio</th>
                        <td>{{ anuncio.anuncio }}</td>
                    </tr>
                    <tr>
                        <th>Obs</th>
                        <td>{{ anuncio.obs }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
