{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li class="active">Ventanilla</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Ventanilla
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Seleccionar
            </small>
        </h1>
    </div>
    <form action="{{path('ventanilla_show')}}" method="post">
        <input type="hidden" name="agenciaId" value="{{agenciaId}}">
        <input type="hidden" name="area" value="{{area.areaTipo}}">
        <input type="hidden" name="areaId" value="{{area.id}}">
        <input type="hidden" name="operadorId" value="{{operadorId}}">
        <div class="form-group">
            <label for="">Area:</label> {{ area.areaTipo }}
        </div>
        <div class="form-group">
            <label for="">Ventanilla:</label>
            <select name="nroVentanilla" id="nroVentanilla" required="" style="width:150px">
                {% for vent in ventanillas %}
                    <option value="{{vent.numero}}">{{vent.numero}}</option>
                {% endfor %}
            </select>
        </div>
        <hr>
        <button type="submit" class="btn btn-white btn-info btn-bold">Iniciar atención <i class="fa fa-hand-o-right"></i></button>
    </form>
    
{% endblock %}