{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <style>
        .ficha{
            padding: 10px;
            background-color: #222222;
            font-size: 4em;
            font-weight: bold;
            text-align: center;
            color: #FFFFFF;
            min-height: 100px;
        }
        .cronometro{
            background-color: #C3DBDA;
            padding: 3px;
        }
        .reloj{
            display: inline-block;
            width: 32%;
            text-align: center;
            color: #25ABCD;
            background: #FFFFFF;
        }
        #mensaje{
            padding: 5px;
            color: #E34F45;
        }
    </style>
{% endblock %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li class="active">Ventanilla</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Ventanilla
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Atencion al Cliente
            </small>
        </h1>
    </div>
    <h3 class="header smaller lighter green align-center">
        Agencia: {{agencia.agencia}} <br>

        {{area}} - Ventanilla {{ventanillaNro}}
    </h3>

    <input type="hidden" id="agenciaId" value="{{agenciaId}}">
    <input type="hidden" id="operadorId" value="{{operadorId}}">
    <input type="hidden" id="area" value="{{area}}">
    <input type="hidden" id="ventanillaId" value="{{ventanillaId}}">
    <input type="hidden" id="ventanillaNro" value="{{ventanillaNro}}">
    <input type="hidden" id="areaTipoId" value="{{areaTipoId}}">
    <input type="hidden" id="fecha" value="{{fecha}}">

    <div class="row">
        <div class="col-md-12">
            <h3 class="lighter blue">Tickets en espera: <span id="ticketsEsperaCantidad" style="margin-left:10px"></span></h3>
        </div>
    </div>
    <br>   
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:20px">
            <button id="btn-llamar" class="btn btn-primary nivel1" onclick="nextTicket();">Llamar Siguiente</button>
            <span id="mensaje"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="ficha">

            </div>

            <input type="hidden" id="ticketId" value="">
            <input type="hidden" id="codigo" value="">
            <input type="hidden" id="servicioId" value="">
            <input type="hidden" id="clienteTipoId" value="">
            <input type="hidden" id="ticketNro" value="">

            <hr>
            <div class="cronometro">
                <div>
                    Tiempo de Atencion:
                </div>
                <input type="text" class="reloj" id="Horas" value="00" disabled="disabled">
                <input type="text" class="reloj" id="Minutos" value="00" disabled="disabled">
                <input type="text" class="reloj" id="Segundos" value="00" disabled="disabled">
                <input type="hidden" id="Centesimas" value="00">
            </div>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <input type="hidden" id="horaInicio" value="">
            <input type="hidden" id="horaFin" value="">
            <button id="btn-rellamar" class="btn btn-primary nivel2" onclick="accion(1);">Re-llamar</button>
            <button id="btn-suspender" class="btn btn-danger nivel2" onclick="accion(6)">Suspender/Anular</button>
            <br><br>
            <label for="">Transaccion del cliente:</label>
            <select name="" id="transaccion" class="nivel2">
                <option value="">Seleccionar...</option>
                {% for tc in transaccionCliente %}
                    <option value="{{tc.id}}">{{tc.transaccionTipo}}</option>
                {% endfor %}
            </select><br><br>
            <button id="btn-iniciar" class="btn btn-success nivel3" onclick="accion(2)">Iniciar</button>
            <button id="btn-pausar" class="btn btn-warning nivel4" onclick="accion(3)">Pausar</button>
            <button id="btn-finalizar" class="btn btn-primary nivel5" onclick="accion(5)">Finalizar</button>
            <div class="row">
                <div id="divObservacion" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="border:1px solid #CCCCCC; background-color:#EEEEEE; padding:5px; display:none">
                    <p style="color:#FFA92B">Justifique:</p>
                    <textarea name="observacion" id="observacion" style="width:100%"></textarea>
                    <button onclick="accion(3)" class="btn btn-warning">Confirmar pausa</button>
                    <button onclick="document.getElementById('divObservacion').style.display = 'none'" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
            <br><br>
                <select name="" id="siguienteOperador" class="nivel5">
                    <option value="">Seleccionar...</option>
                    <option value="">Jefe de Cajeros</option>
                    <option value="">Supervisor</option>
                </select>
                <button class="btn btn-purple nivel5" onclick="accion(4)">Derivar</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        var xhr, xhr1,xhr2,xhr3,xhr4,xhr5,xhr6;
        var centesimas = 0;
        var segundos = 0;
        var minutos = 0;
        var horas = 0;
        var transaccionIdGlobal;

        $(document).ready(function() {
            $('.nivel2').attr('disabled','disabled');
            $('.nivel3').attr('disabled','disabled');
            $('.nivel4').attr('disabled','disabled');
            $('.nivel5').attr('disabled','disabled');
            function ticketsEspera(){
                var operadorId = $('#operadorId').val();
                var areaTipoId = $('#areaTipoId').val();
                var agenciaId = $('#agenciaId').val();

                if (xhr && xhr.readyState != 4) {
                    xhr.abort();
                }
                xhr = $.ajax({
                        type: 'post',
                        cache: false,
                        data: {operadorId: operadorId, areaTipoId:areaTipoId, agenciaId:agenciaId},
                        url: "{{ path('ventanilla_tickets_espera') }}",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            $('#ticketsEsperaCantidad').empty();
                            $('#ticketsEsperaCantidad').append(data.enEspera);
                        },
                        statusCode: {
                            500: function () {

                            },
                            404: function () {

                            }
                        }
                });
            }

            setInterval(function(){
                ticketsEspera();
            }, 5000);

        });

        function nextTicket(){
            var agenciaId = $('#agenciaId').val();
            var areaTipoId = $('#areaTipoId').val();
            var operadorId = $('#operadorId').val();
            var ventanillaId = $('#ventanillaId').val();
            var fecha = $('#fecha').val();

            if (xhr1 && xhr1.readyState != 4) {
                    xhr1.abort();
            }
            xhr1 = $.ajax({
                    type: 'post',
                    cache: false,
                    data: {operadorId: operadorId, fecha: fecha, agenciaId:agenciaId, areaTipoId: areaTipoId, ventanillaId: ventanillaId},
                    url: "{{ path('ventanilla_next_ticket') }}",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        if(data.existe == 1){
                            $('#codigo').val(data.codigo);
                            $('#servicioId').val(data.servicioId);
                            $('#clienteTipoId').val(data.clienteTipoId);
                            $('#ticketNro').val(data.ticketNro);

                            $('#mensaje').empty();

                            $('.ficha').empty();
                            $('.ficha').append(data.codigo);

                            $('.nivel1').attr('disabled','disabled');
                            $('.nivel2').removeAttr('disabled');
                        }else{
                            $('#mensaje').empty();
                            $('#mensaje').append('No hay tickets en espera !!!');
                        }
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
            });
        }

        function cronometro () {
            if (centesimas < 99) {
                centesimas++;
                if (centesimas < 10) { centesimas = "0"+centesimas }
                $('#Centesimas').val(centesimas);
            }
            if (centesimas == 99) {
                centesimas = -1;
            }
            if (centesimas == 0) {
                segundos ++;
                if (segundos < 10) { segundos = "0"+segundos }
                $('#Segundos').val(segundos);
            }
            if (segundos == 59) {
                segundos = -1;
            }
            if ( (centesimas == 0)&&(segundos == 0) ) {
                minutos++;
                if (minutos < 10) { minutos = "0"+minutos }
                $('#Minutos').val(minutos);
            }
            if (minutos == 59) {
                minutos = -1;
            }
            if ( (centesimas == 0)&&(segundos == 0)&&(minutos == 0) ) {
                horas ++;
                if (horas < 10) { horas = "0"+horas }
                $('#Horas').val(horas);
            }
        }
        // funciones para resetear los combos
        function resetearCombos(){
                $('#transaccion').val("").attr('selected', 'selected');
                $('#siguienteOperador').val("").attr('selected', 'selected');
        }

        function accion(accion){
            var agenciaId = $('#agenciaId').val();
            var servicioId = $('#servicioId').val();
            var clienteTipoId = $('#clienteTipoId').val();
            var ticketNro = $('#ticketNro').val();
            var fecha = $('#fecha').val();
            var ventanillaId = $('#ventanillaId').val();
            var operadorId = $('#operadorId').val();
            var newEstado = 0; // Para intercambiar estadoes en el boton de pausa y continuar

            switch(accion){
                case 1: transaccionId = 0; observacion = ""; break;
                case 2: transaccionId = $('#transaccion').val(); observacion = ""; transaccionIdGlobal = $('#transaccion').val(); break;
                case 3: 
                        if($('#btn-pausar').text() == "Pausar"){
                            $('#divObservacion').fadeIn();
                            observacion = $('#observacion').val();
                            if(observacion == ""){
                                $('#divObservacion').fadeIn();
                                alert('Debe justificar el motivo de la pausa');
                                return false;
                            }
                            transaccionId = transaccionIdGlobal; observacion = $('#observacion').val();
                            newEstado = 3;
                            $('#divObservacion').fadeOut();
                            
                        }else{
                            transaccionId = transaccionIdGlobal; observacion = "";
                            newEstado = 2;
                            
                        }
                        break;
                case 4: transaccionId = 0; observacion = ""; break;
                case 5: transaccionId = transaccionIdGlobal; observacion = ""; break;
                case 6: transaccionId = 0; observacion = ""; break;
            }

            if (xhr2 && xhr2.readyState != 4) {
                xhr2.abort();
            }
            xhr2 = $.ajax({
                    type: 'post',
                    cache: false,
                    data: {agenciaId:agenciaId, servicioId:servicioId, clienteTipoId:clienteTipoId, ticketNro:ticketNro, fecha:fecha, accion:accion, ventanillaId:ventanillaId, operadorId:operadorId, transaccionId:transaccionId, observacion:observacion, newEstado: newEstado},
                    url: "{{ path('ventanilla_accion') }}",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        switch(accion){
                            case 1: // Rellamar
                                    break;
                            case 2: // iniciar
                                    control = setInterval(cronometro,10);
                                    $('.nivel2').attr('disabled','disabled');
                                    $('.nivel3').attr('disabled','disabled');
                                    $('.nivel4').removeAttr('disabled');
                                    $('.nivel5').removeAttr('disabled');

                                    $('#horaInicio').val(data.horaInicio);
                                    break;
                            case 3: // Pausar
                                    if($('#btn-pausar').text() == "Pausar"){
                                        clearInterval(control);
                                        $('#btn-pausar').text('Continuar');
                                        $('.nivel5').attr('disabled','disabled');
                                    }else{
                                        $('#observacion').val('');
                                        control = setInterval(cronometro,10);
                                        $('#btn-pausar').text('Pausar');
                                        $('.nivel5').removeAttr('disabled');
                                    }
                                    break;
                            case 4: // Derivar
                                    clearInterval(control);
                                    centesimas = 0;
                                    segundos = 0;
                                    minutos = 0;
                                    horas = 0;
                                    $('#Centesimas').val("00");
                                    $('#Segundos').val("00");
                                    $('#Minutos').val("00");
                                    $('#Horas').val("00");

                                    $('.nivel1').removeAttr('disabled');
                                    $('.nivel2').attr('disabled','disabled');
                                    $('.nivel3').attr('disabled','disabled');
                                    $('.nivel4').attr('disabled','disabled');
                                    $('.nivel5').attr('disabled','disabled');
                                    $('.ficha').empty();
                                    resetearCombos();
                                    break;
                            case 5: // Finalizar
                                    clearInterval(control);
                                    centesimas = 0;
                                    segundos = 0;
                                    minutos = 0;
                                    horas = 0;
                                    $('#Centesimas').val("00");
                                    $('#Segundos').val("00");
                                    $('#Minutos').val("00");
                                    $('#Horas').val("00");

                                    $('.nivel1').removeAttr('disabled');
                                    $('.nivel2').attr('disabled','disabled');
                                    $('.nivel3').attr('disabled','disabled');
                                    $('.nivel4').attr('disabled','disabled');
                                    $('.nivel5').attr('disabled','disabled');
                                    $('.ficha').empty();
                                    resetearCombos();
                                    break;
                            case 6: // Anular Suspender
                                    $('.nivel1').removeAttr('disabled');
                                    $('.nivel2').attr('disabled','disabled');
                                    $('.nivel3').attr('disabled','disabled');
                                    $('.nivel4').attr('disabled','disabled');
                                    $('.nivel5').attr('disabled','disabled');
                                    $('.ficha').empty();
                                    resetearCombos();
                                    break;
                        }
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
            });
        }
        

        $('#transaccion').change( function(){
            if(this.value == ""){
                $('.nivel3').attr('disabled','disabled');
                $('.nivel4').attr('disabled','disabled');
                $('.nivel5').attr('disabled','disabled');
            }else{
                $('.nivel3').removeAttr('disabled');
            }
        });

    </script>
{% endblock %}
