{% extends 'layout.html.twig' %}
{% block stylesheets %}
    <style>
        .ficha{
            padding: 10px;
            background-color: #222222;
            font-size: 4em;
            font-weight: bold;
            text-align: center;
            color: #FFFFFF;
            min-height: 100px;
        }
        .cronometro{
            background-color: #C3DBDA;
            padding: 3px;
        }
        .reloj{
            display: inline-block;
            width: 32%;
            text-align: center;
            color: #25ABCD;
            background: #FFFFFF;
        }
    </style>
{% endblock %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li class="active">Ventanilla</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Ventanilla
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Atencion al Cliente
            </small>
        </h1>
    </div>
    <h3 class="header smaller lighter green align-center">
        Agencia: {{agencia.agencia}} <br>

        {{area}} - Ventanilla {{nroVentanilla}}
    </h3>

    <input type="hidden" id="agenciaId" value="{{agenciaId}}">
    <input type="hidden" id="operadorId" value="{{operadorId}}">
    <input type="hidden" id="area" value="{{area}}">
    <input type="hidden" id="nroVentanilla" value="{{nroVentanilla}}">
    <input type="hidden" id="areaTipoId" value="{{areaTipoId}}">
    <input type="hidden" id="fecha" value="{{fecha}}">

    <div class="row">
        <div class="col-md-12">
            <h3 class="lighter blue">Tickets en espera: <span id="ticketsEsperaCantidad" style="margin-left:10px"></span></h3>
        </div>
    </div>
    <br>   
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-bottom:20px">
            <button id="btn-llamar" class="btn btn-primary nivel1" onclick="nextTicket();">Llamar Siguiente</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="ficha">

            </div>
            <input type="hidden" id="ficha" value="">
            <input type="hidden" id="idTicket" value="">

            <input type="hidden" id="horaInicio" value="">
            <input type="hidden" id="horaFin" value="">
            <hr>
            <div class="cronometro">
                <div>
                    Tiempo de Atencion:
                </div>
                <input type="text" class="reloj" id="Horas" value="00" disabled="disabled">
                <input type="text" class="reloj" id="Minutos" value="00" disabled="disabled">
                <input type="text" class="reloj" id="Segundos" value="00" disabled="disabled">
                <input type="hidden" id="Centesimas" value="00">
            </div>

        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <button id="btn-rellamar" class="btn btn-primary nivel2" onclick="rellamar();">Re-llamar</button>
            <button id="btn-suspender" class="btn btn-danger nivel2" onclick="suspender()">Suspender/Anular</button>
            <br><br>
            <label for="">Transaccion del cliente:</label>
            <select name="" id="transaccion" class="nivel2">
                <option value="">Seleccionar...</option>
                {% for tc in transaccionCliente %}
                    <option value="{{tc.id}}">{{tc.transaccionTipo}}</option>
                {% endfor %}
            </select><br><br>
            <button id="btn-iniciar" class="btn btn-success nivel3" onclick="iniciar()">Iniciar</button>
            <button id="btn-pausar" class="btn btn-warning nivel4" onclick="pausarContinuar()">Pausar</button>
            <button id="btn-finalizar" class="btn btn-primary nivel4" onclick="finalizar()">Finalizar</button><br><br>
                <select name="" id="siguienteOperador" class="nivel4">
                    <option value="">Seleccionar...</option>
                    <option value="">Jefe de Cajeros</option>
                    <option value="">Supervisor</option>
                </select>
                <button class="btn btn-purple nivel4">Derivar</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript">
        var xhr, xhr1,xhr2,xhr3,xhr4,xhr5,xhr6;
        var centesimas = 0;
        var segundos = 0;
        var minutos = 0;
        var horas = 0;

        $(document).ready(function() {
            $('.nivel2').attr('disabled','disabled');
            $('.nivel3').attr('disabled','disabled');
            $('.nivel4').attr('disabled','disabled');
            function ticketsEspera(){
                var operadorId = $('#operadorId').val();
                var areaTipoId = $('#areaTipoId').val();
                var nroVentanilla = $('#nroVentanilla').val();
                var agenciaId = $('#agenciaId').val();

                if (xhr && xhr.readyState != 4) {
                    xhr.abort();
                }
                xhr = $.ajax({
                        type: 'post',
                        cache: false,
                        data: {operadorId: operadorId, areaTipoId:areaTipoId, nroVentanilla:nroVentanilla, agenciaId:agenciaId},
                        url: "{{ path('ventanilla_tickets_espera') }}",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            $('#ticketsEsperaCantidad').empty();
                            $('#ticketsEsperaCantidad').append(data.enEspera);
                        },
                        statusCode: {
                            500: function () {

                            },
                            404: function () {

                            }
                        }
                });
            }

            setInterval(function(){
                ticketsEspera();
            }, 5000);

        });

        function nextTicket(){

            var operadorId = $('#operadorId').val();
            var fecha = $('#fecha').val();

            if (xhr1 && xhr1.readyState != 4) {
                    xhr1.abort();
            }
            xhr1 = $.ajax({
                    type: 'post',
                    cache: false,
                    data: {operadorId: operadorId, fecha: fecha},
                    url: "{{ path('ventanilla_next_ticket') }}",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        if(data.existe == 1){
                            $('#ficha').val(data.codigo);
                            $('#idTicket').val(data.id);

                            $('.ficha').empty();
                            $('.ficha').append(data.codigo);

                            $('.nivel1').attr('disabled','disabled');
                            $('.nivel2').removeAttr('disabled');
                        }else{

                        }
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
            });
        }

        function cronometro () {
            if (centesimas < 99) {
                centesimas++;
                if (centesimas < 10) { centesimas = "0"+centesimas }
                $('#Centesimas').val(centesimas);
            }
            if (centesimas == 99) {
                centesimas = -1;
            }
            if (centesimas == 0) {
                segundos ++;
                if (segundos < 10) { segundos = "0"+segundos }
                $('#Segundos').val(segundos);
            }
            if (segundos == 59) {
                segundos = -1;
            }
            if ( (centesimas == 0)&&(segundos == 0) ) {
                minutos++;
                if (minutos < 10) { minutos = "0"+minutos }
                $('#Minutos').val(minutos);
            }
            if (minutos == 59) {
                minutos = -1;
            }
            if ( (centesimas == 0)&&(segundos == 0)&&(minutos == 0) ) {
                horas ++;
                if (horas < 10) { horas = "0"+horas }
                $('#Horas').val(horas);
            }
        }



        // funciones para resetear los combos
        function resetearCombos(){
                $('#transaccion').val("").attr('selected', 'selected');
                $('#siguienteOperador').val("").attr('selected', 'selected');
        }
        function rellamar(){
            var idTicket = $('#idTicket').val();
            if (xhr2 && xhr2.readyState != 4) {
                    xhr2.abort();
            }
            xhr2 = $.ajax({
                    type: 'post',
                    cache: false,
                    data: {idTicket: idTicket},
                    url: "{{ path('ventanilla_rellamar') }}",
                    beforeSend: function () {

                    },
                    success: function (data) {

                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
            });
        }
        function suspender(){
            var idTicket = $('#idTicket').val();
            if (xhr3 && xhr3.readyState != 4) {
                    xhr3.abort();
            }
            xhr3 = $.ajax({
                    type: 'post',
                    cache: false,
                    data: {idTicket: idTicket},
                    url: "{{ path('ventanilla_suspender') }}",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        $('.nivel1').removeAttr('disabled');
                        $('.nivel2').attr('disabled','disabled');
                        $('.nivel3').attr('disabled','disabled');
                        $('.nivel4').attr('disabled','disabled');
                        $('.ficha').empty();
                        resetearCombos();
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
            });
        }

        $('#transaccion').change( function(){
            if(this.value == ""){
                $('.nivel3').attr('disabled','disabled');
                $('.nivel4').attr('disabled','disabled');
            }else{
                $('.nivel3').removeAttr('disabled');
            }
        });

        function iniciar(){

            var idTicket = $('#idTicket').val();
            var idTransaccion = $('#transaccion').val();
            if (xhr4 && xhr4.readyState != 4) {
                    xhr4.abort();
            }
            xhr4 = $.ajax({
                    type: 'post',
                    cache: false,
                    data: {idTicket: idTicket, idTransaccion: idTransaccion},
                    url: "{{ path('ventanilla_iniciar') }}",
                    beforeSend: function () {

                    },
                    success: function (data) {
                        control = setInterval(cronometro,10);
                        $('.nivel2').attr('disabled','disabled');
                        $('.nivel3').attr('disabled','disabled');
                        $('.nivel4').removeAttr('disabled');

                        $('#horaInicio').val(data.horaInicio);
                    },
                    statusCode: {
                        500: function () {

                        },
                        404: function () {

                        }
                    }
            });
        }

        function pausarContinuar(){
            var idTicket = $('#idTicket').val();
            var idTransaccion = $('#transaccion').val();
            if (xhr5 && xhr5.readyState != 4) {
                    xhr5.abort();
            }

            if($('#btn-pausar').text() == "Pausar"){ // pausar
                xhr5 = $.ajax({
                        type: 'post',
                        cache: false,
                        data: {idTicket: idTicket, idTransaccion: idTransaccion},
                        url: "{{ path('ventanilla_pausar') }}",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            clearInterval(control);
                            $('#btn-pausar').text('Continuar');
                        },
                        statusCode: {
                            500: function () {

                            },
                            404: function () {

                            }
                        }
                });

            }else{  // Continuar
                xhr5 = $.ajax({
                        type: 'post',
                        cache: false,
                        data: {idTicket: idTicket, idTransaccion: idTransaccion},
                        url: "{{ path('ventanilla_continuar') }}",
                        beforeSend: function () {

                        },
                        success: function (data) {
                            control = setInterval(cronometro,10);
                            $('#btn-pausar').text('Pausar');
                        },
                        statusCode: {
                            500: function () {

                            },
                            404: function () {

                            }
                        }
                });
            }
        }

        function finalizar(){
            var idTicket = $('#idTicket').val();
            var idTransaccion = $('#transaccion').val();
            if (xhr6 && xhr6.readyState != 4) {
                    xhr6.abort();
            }
            xhr6 = $.ajax({
                type: 'post',
                cache: false,
                data: {idTicket: idTicket, idTransaccion: idTransaccion},
                url: "{{ path('ventanilla_finalizar') }}",
                beforeSend: function () {

                },
                success: function (data) {
                    clearInterval(control);
                    centesimas = 0;
                    segundos = 0;
                    minutos = 0;
                    horas = 0;
                    $('#Centesimas').val("00");
                    $('#Segundos').val("00");
                    $('#Minutos').val("00");
                    $('#Horas').val("00");

                    $('.nivel1').removeAttr('disabled');
                    $('.nivel2').attr('disabled','disabled');
                    $('.nivel3').attr('disabled','disabled');
                    $('.nivel4').attr('disabled','disabled');
                    $('.ficha').empty();
                    resetearCombos();
                },
                statusCode: {
                    500: function () {

                    },
                    404: function () {

                    }
                }
            });
        }

    </script>
{% endblock %}
