
<li class="">
    <a href="{{path('operador_index')}}">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text"> Operador </span>
    </a>
    <b class="arrow"></b>
</li>
<li class="">
    <a href="{{path('anuncio_index')}}">
        <i class="menu-icon fa fa-text-width"></i>
        <span class="menu-text"> Anuncio </span>
    </a>

    <b class="arrow"></b>
</li>
<li class="">
    <a href="{{path('servicio_index')}}">
        <i class="menu-icon fa fa-thumbs-o-up"></i>
        <span class="menu-text"> Servicio </span>
    </a>

    <b class="arrow"></b>
</li>
 <li class="">
    <a href="{{path('agenciaservicio_index')}}">
        <i class="menu-icon fa fa-thumbs-o-up"></i>
        <span class="menu-text"> Servicio Agencia</span>
    </a>

    <b class="arrow"></b>
</li>
<li class="">
    <a href="" class="dropdown-toggle">
        <i class="menu-icon fa fa-video-camera"></i>
        <span class="menu-text">
            Video
        </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="{{path('video_index')}}">
                <i class="menu-icon fa fa-upload"></i>
                <span class="menu-text"> Subida</span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="{{path('videolista_index')}}">
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-text"> Lista de Reproduccion </span>
            </a>

            <b class="arrow"></b>
        </li>
    </ul>
</li>
<li class="">
    <a href="" class="dropdown-toggle">
        <i class="menu-icon fa fa-gavel"></i>
        <span class="menu-text">
            Opciones
        </span>

        <b class="arrow fa fa-angle-down"></b>
    </a>
    <b class="arrow"></b>
    <ul class="submenu">
        <li class="">
            <a href="{{path('pantalla_index')}}">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> Pantalla </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="">
            <a href="{{path('dispensador_index')}}">
                <i class="menu-icon fa fa-table"></i>
                <span class="menu-text"> Dispensador </span>
            </a>

            <b class="arrow"></b>
        </li>
    </ul>
</li>