{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li>
            <i class="ace-icon fa fa-list-ul home-icon"></i>
            <a href="{{path('operador_index')}}">Operador</a>
        </li>
        <li class="active">Editar</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Operador
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Editar
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('operador_index') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-hand-o-left bigger-110 blue"></i></a>
                {{ form_start(delete_form) }}
                    <button type="submit" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-trash-o bigger-110 red"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
    <div class="table-header">
        Actualizar datos
    </div>
    
    {{ form_start(edit_form, { 'attr': {'class':'form-horizontal','role':'form'} }) }}
        {{ form_widget(edit_form) }}
        <hr>
        <button type="submit" class="btn btn-white btn-info btn-bold"><i class="fa fa-save green"></i> Guardar Cambios</button>
    {{ form_end(edit_form) }}        
    
{% endblock %}
