{% extends 'layout.html.twig' %}

{% block body %}
    <div class="c-header">
        <h2>Operador <small></small> </h2>
    </div>
    <div class="card">
        <div class="bar-options">
            <h3>Lista de operadores</h3>
            <a href="{{ path('operador_new') }}" class="btn btn-primary">Crear Operador</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped bootgrid-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Ci</th>
                        <th>Paterno</th>
                        <th>Materno</th>
                        <th>Nombres</th>
                        <th>Usuario</th>
                        <th>Clave</th>
                        <th>Esactivo</th>
                        <th>Obs</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for operador in operadors %}
                    <tr>
                        <td><a href="{{ path('operador_show', { 'id': operador.id }) }}">{{ operador.id }}</a></td>
                        <td>{{ operador.ci }}</td>
                        <td>{{ operador.paterno }}</td>
                        <td>{{ operador.materno }}</td>
                        <td>{{ operador.nombres }}</td>
                        <td>{{ operador.usuario }}</td>
                        <td>{{ operador.clave }}</td>
                        <td>{% if operador.esactivo %}Yes{% else %}No{% endif %}</td>
                        <td>{{ operador.obs }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('operador_show', { 'id': operador.id }) }}" class="btn btn-primary">Ver</a>
                                </li>
                                <li>
                                    <a href="{{ path('operador_edit', { 'id': operador.id }) }}" class="btn btn-warning">Editar</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
{% endblock %}
