{% extends 'layout.html.twig' %}
{% block header %}
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{{path('homepage')}}">Dashboard</a>
        </li>
        <li>
            <i class="ace-icon fa fa-list-ul home-icon"></i>
            <a href="{{path('operador_index')}}">Operador</a>
        </li>
        <li class="active">Datos</li>
    </ul><!-- /.breadcrumb -->
{% endblock %}
{% block body %}
    <div class="page-header">
        <h1>
            Operador
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Datos generales
            </small>
        </h1>
    </div>
    <div class="clearfix">
        <div class="pull-right tableTools-container">
            <div class="dt-buttons btn-overlap btn-group">
                <a href="{{ path('operador_index') }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-hand-o-left bigger-110 blue"></i></a>
                <a href="{{ path('operador_edit', { 'id': operador.id }) }}" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-pencil bigger-130 green"></i></a>
                {{ form_start(delete_form) }}
                    <button type="submit" class="dt-button buttons-collection buttons-colvis btn btn-white btn-primary btn-bold"><i class="fa fa-trash-o bigger-110 red"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped ">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ operador.id }}</td>
                </tr>
                <tr>
                    <th>Ci</th>
                    <td>{{ operador.ci }}</td>
                </tr>
                <tr>
                    <th>Paterno</th>
                    <td>{{ operador.paterno }}</td>
                </tr>
                <tr>
                    <th>Materno</th>
                    <td>{{ operador.materno }}</td>
                </tr>
                <tr>
                    <th>Nombres</th>
                    <td>{{ operador.nombres }}</td>
                </tr>
                <tr>
                    <th>Usuario</th>
                    <td>{{ operador.usuario }}</td>
                </tr>
                <tr>
                    <th>Contraseña</th>
                    <td>{{ operador.contrasena }}</td>
                </tr>
                <tr>
                    <th>Esactivo</th>
                    <td>{% if operador.esactivo %}Si{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th>Agencia</th>
                    <td>{{operador.agencia.agencia}}</td>
                </tr>
                <tr>
                    <th>Área</th>
                    <td>{{operador.areaTipo.areaTipo}}</td>
                </tr>
                <tr>
                    <th>Obs</th>
                    <td>{{ operador.obs }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
