{% extends 'layout.html.twig' %}

{% block body %}
    <div class="c-header">
        <h2>Operador <small></small> </h2>
    </div>
    <div class="card">
        <div class="bar-options">
            <h3>Datos Operador</h3>
            <a href="{{ path('operador_index') }}" class="btn btn-primary waves-effect">Atras</a>
            <a href="{{ path('operador_edit', { 'id': operador.id }) }}" class="btn btn-warning waves-effect">Editar</a>
            {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            {{ form_end(delete_form) }}
        </div>
        <div class="table-responsive">
            <table class="table table-striped bootgrid-table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ operador.id }}</td>
                    </tr>
                    <tr>
                        <th>Ci</th>
                        <td>{{ operador.ci }}</td>
                    </tr>
                    <tr>
                        <th>Paterno</th>
                        <td>{{ operador.paterno }}</td>
                    </tr>
                    <tr>
                        <th>Materno</th>
                        <td>{{ operador.materno }}</td>
                    </tr>
                    <tr>
                        <th>Nombres</th>
                        <td>{{ operador.nombres }}</td>
                    </tr>
                    <tr>
                        <th>Usuario</th>
                        <td>{{ operador.usuario }}</td>
                    </tr>
                    <tr>
                        <th>Clave</th>
                        <td>{{ operador.clave }}</td>
                    </tr>
                    <tr>
                        <th>Esactivo</th>
                        <td>{% if operador.esactivo %}Si{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Obs</th>
                        <td>{{ operador.obs }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
